<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>NgRepeat vs *ngFor by NamitaMalik</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">NgRepeat vs *ngFor</h1>
      <h2 class="project-tagline">This blog demonstrates difference between NgRepeat and *ngFor.</h2>
      <a href="https://github.com/NamitaMalik/NgRepeat-vs-ngFor" class="btn">View on GitHub</a>
      <a href="https://github.com/NamitaMalik/NgRepeat-vs-ngFor/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/NamitaMalik/NgRepeat-vs-ngFor/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="ngfor-in-angular2" class="anchor" href="#ngfor-in-angular2" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>*ngFor in Angular2</h1>

<p>This repo contains a small snippet that compares <strong>ng-repeat</strong> of <strong>Angular 1.x</strong> with <strong>*ngFor</strong> of <strong>Angular 2</strong>.</p>

<p>Well, to start of with - <strong>ng-repeat</strong> directive will NOT be available in <strong>Angular 2</strong>. It has been replaced by a new directive i.e. <strong>*ngFor</strong>.</p>

<blockquote>
<p>Here is a recap:</p>
</blockquote>

<ul>
<li>
<strong>ng-repeat</strong> directive instantiated template once per item for a collection.</li>
<li>Each template instance had its own scope.</li>
<li>Special properties were available for each template instance : <strong>$index</strong>, <strong>$first</strong>, <strong>$middle</strong>, <strong>$last</strong>, <strong>$even</strong>, <strong>$odd</strong>.</li>
<li>
<strong>ng-repeat</strong> by default did not allow duplicate elements. A tracking function was responsible for this task.</li>
<li>In order to add duplicate items, <strong>track by</strong> expression was used.</li>
<li>Here is a small snippet:</li>
</ul>

<div class="highlight highlight-source-js"><pre><span class="pl-smi">$scope</span>.<span class="pl-smi">items</span> <span class="pl-k">=</span> [<span class="pl-s"><span class="pl-pds">'</span>eat<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>sleep<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>work<span class="pl-pds">'</span></span>,<span class="pl-s"><span class="pl-pds">'</span>eat<span class="pl-pds">'</span></span>]</pre></div>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>item in items track by $index<span class="pl-pds">"</span></span>&gt;{{$index+1}} : {{item}}&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

<ul>
<li>Object properties could also be iterated over. Here is a snippet for that:</li>
</ul>

<div class="highlight highlight-source-js"><pre><span class="pl-smi">$scope</span>.<span class="pl-smi">personDetails</span> <span class="pl-k">=</span> {name<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>Namita<span class="pl-pds">'</span></span>,age<span class="pl-k">:</span><span class="pl-s"><span class="pl-pds">'</span>25<span class="pl-pds">'</span></span>}</pre></div>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>(key, value) in personDetails<span class="pl-pds">"</span></span>&gt;{{key}} : {{value}}&lt;/<span class="pl-ent">div</span>&gt;</pre></div>

<p>Now, let's move to main agenda of this discussion i.e. <strong>*ngFor</strong>. Let's start.</p>

<ul>
<li>The major difference between <strong>ng-repeat</strong> and <strong>*ngFor</strong> is its syntax. Here is a small snipped</li>
</ul>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">ul</span>&gt;
    &lt;<span class="pl-ent">li</span> *<span class="pl-e">ngFor</span>=<span class="pl-s"><span class="pl-pds">"</span>#item of items<span class="pl-pds">"</span></span>&gt;{{item}}&lt;/<span class="pl-ent">li</span>&gt;
&lt;/<span class="pl-ent">ul</span></pre></div>

<ul>
<li>
<p><strong>*ngFor</strong> is based on <strong>JavaScript's</strong> <code>for of</code> loop hence it can be used to iterate over <strong>Arrays</strong>, <strong>Map</strong>, <strong>Set</strong>. However it cannot be used to iterate over object properties straightaway.</p>

<blockquote>
<p>One of the possible work around could be extracting the keys from an object and then iterating it over the keys or use Map instead of object.</p>
</blockquote>
</li>
<li><p>Also other important difference is use of <code>#refs</code>. <code>#refs</code> would be widely used in <strong>Angular2</strong>. In this case <code>#item</code> contain the value of each item. <code>#refs</code> hold the reference of the element in cases such as:</p></li>
</ul>

<blockquote>
<p><code>ng-repeat</code> created inherited child scope for each element of collection, while <code>*ngFor</code> creates local variable in the that block.</p>
</blockquote>

<div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>text<span class="pl-pds">"</span></span> #<span class="pl-e">inputText</span>&gt;</pre></div>

<p>For the above case:</p>

<p><code>inputText</code> would contain the reference of the element i.e. <code>&lt;input type="text"&gt;</code>. <code>inputText.value</code> would contain the actual value entered in the input box.</p>

<ul>
<li><p>You would also be wondering what is the asterisk (*) sign for. Asterisk (*) sign is nothing but a syntactic sugar.</p></li>
<li><p>Like <strong>ng-repeat</strong>, each instance element receives properties like <strong>odd</strong>, <strong>even</strong> , <strong>last</strong>, <strong>index</strong>. I have used these properties in the small example below:</p></li>
</ul>

<div class="highlight highlight-source-ts"><pre><span class="pl-c">/**</span>
<span class="pl-c"> * Created by Namita Malik on 4/5/16.</span>
<span class="pl-c"> */</span>

<span class="pl-k">import</span> {Component} <span class="pl-k">from</span> <span class="pl-s">'angular2/core'</span>;

@Component({
    selector: <span class="pl-s">'my-app'</span>,
    template: <span class="pl-s">`</span>
<span class="pl-s">    &lt;h1&gt;{{title}}&lt;/h1&gt;</span>
<span class="pl-s">    &lt;h2&gt;Enter To Do Items Below:&lt;/h2&gt;</span>
<span class="pl-s">    &lt;input (keyup.enter)="onKey(todo)" #todo&gt;</span>
<span class="pl-s">    &lt;div *ngIf="toDoList.length&gt;0"&gt;</span>
<span class="pl-s">        &lt;p&gt;Your To Do Items:&lt;/p&gt;</span>
<span class="pl-s">    &lt;/div&gt;</span>
<span class="pl-s">    &lt;div style="padding: 10px 0 0 0"&gt;</span>
<span class="pl-s">    &lt;table width="300" border="1" cellpadding="5" style="text-align: center"&gt;</span>
<span class="pl-s">        &lt;tr&gt;</span>
<span class="pl-s">            &lt;th&gt;Index&lt;/th&gt;</span>
<span class="pl-s">            &lt;th&gt;To Do Item&lt;/th&gt;</span>
<span class="pl-s">        &lt;/tr&gt;</span>
<span class="pl-s">        &lt;tr *ngFor="#toDo of toDoList, #i=index, #last=last, #odd=odd, #even=even"  [ngClass]="{'odd-color':odd, 'even-color':even, 'last-color' : last }"&gt;</span>
<span class="pl-s">            &lt;td&gt;{{i}}&lt;/td&gt;</span>
<span class="pl-s">            &lt;td&gt;{{toDo}}&lt;/td&gt;</span>
<span class="pl-s">        &lt;/tr&gt;</span>
<span class="pl-s">    &lt;/table&gt;</span>
<span class="pl-s">    &lt;/div&gt;</span>
<span class="pl-s">    `</span>
})

<span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">AppComponent</span> {
    <span class="pl-v">toDo</span> <span class="pl-k">=</span> {
        item: <span class="pl-s">''</span>
    };
    <span class="pl-v">title</span> <span class="pl-k">=</span> <span class="pl-s">'My To Do List'</span>;
    <span class="pl-v">toDoList</span> <span class="pl-k">=</span> [];

    <span class="pl-en">onKey</span>(<span class="pl-v">todo</span>) {
        <span class="pl-c1">this</span>.toDoList.push(todo.value);
        todo.value <span class="pl-k">=</span> <span class="pl-s">''</span>;
    }
}</pre></div>

<blockquote>
<p>Note: It is not advisable to create grid structure using table tags but to keep the things simple I have used it here.</p>
</blockquote>

<ul>
<li>As demonstrated above we have used index property to get the index of each item in the collection and assigned it to local variable <code>#i</code>. Similarly we have used other properties and assigned them to local variables in order to apply the classes conditionally on the table rows.</li>
</ul>

<p>For example: <code>odd-color</code> class is applied on the row when item is odd. <code>odd</code> property returns a <code>true</code> or <code>false</code> on the basis of item index which is then assigned to local variable <code>#odd</code>.</p>

<ul>
<li>
<strong>Angular2</strong> allows duplicate values in <strong>*ngFor</strong> so we don't need <strong>trackBy</strong> any more and for unique value we use <strong>Set</strong>.</li>
</ul>

<p>In order to run the demo given in this repo, clone this repository. Go inside the repo and write <code>npm install</code>. This would bring required node modules for you.</p>

<p>Now, run open <strong>index.html</strong> in your favourite browser!</p>

<h2>
<a id="follow-me" class="anchor" href="#follow-me" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Follow Me</h2>

<p><a href="https://github.com/NamitaMalik">Github</a></p>

<p><a href="https://twitter.com/namita13_04">Twitter</a></p>

<p><a href="https://in.linkedin.com/in/namita-malik-a7885b23">LinkedIn</a></p>

<p><a href="https://namitamalik.github.io/">More Blogs By Me</a></p>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/NamitaMalik/NgRepeat-vs-ngFor">NgRepeat vs *ngFor</a> is maintained by <a href="https://github.com/NamitaMalik">NamitaMalik</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

  
  </body>
</html>
